<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StopNow - Anuncie sua vaga</title>
    <link rel="stylesheet" href="Anunciar.css">
</head>
<body>
    <div class="page-container">
        <header>
            <div class="logo">
                <svg class="logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M18.9,8.4H5.1A2.1,2.1,0,0,0,3,10.5v8.4A2.1,2.1,0,0,0,5.1,21h.7a1.1,1.1,0,0,0,1.1-1.1V18.9H17.1v1.1A1.1,1.1,0,0,0,18.2,21h.7a2.1,2.1,0,0,0,2.1-2.1V10.5A2.1,2.1,0,0,0,18.9,8.4Zm-15,9.4a.4.4,0,0,1-.4-.4V10.5a.4.4,0,0,1,.4-.4H18.9a.4.4,0,0,1,.4.4v7.9a.4.4,0,0,1-.4.4ZM7.9,15.2a1.4,1.4,0,1,0-1.4-1.4A1.4,1.4,0,0,0,7.9,15.2Zm9.4,0a1.4,1.4,0,1,0-1.4-1.4A1.4,1.4,0,0,0,17.3,15.2Z"/>
                    <path d="M4.1,7.4V5.1A2.1,2.1,0,0,1,6.2,3H17.8A2.1,2.1,0,0,1,19.9,5.1V7.4Zm14.4-1h-13V5.1a.7.7,0,0,1,.7-.7H17.8a.7.7,0,0,1,.7.7Z"/>
                </svg>
                <a href="PaginaPrincipal.html" class="logo-link"><h1 class="logo-title">StopNow</h1></a>
            </div>
        </header>

        <main class="main-content">
            <div class="info-column">
                <h1>Tem uma vaga disponível?<br>Alugue e comece a lucrar!</h1>
                <ul>
                    <li>Ganhe dinheiro extra</li>
                    <li>Defina preço e horários</li>
                    <li>Acompanhe seus ganhos</li>
                    <li>Mais visibilidade para sua vaga</li>
                    <li>Cadastro rápido e fácil</li>
                    <li>Aluguel flexível (hora, dia ou mês)</li>
                    <li>Sistema seguro e confiável</li>
                </ul>
            </div>

            <div class="action-column">
                <img src="custom car-cuate.png" alt="" width="50%">
                <h2>Anuncie sua vaga em poucos cliques, fácil e rápido!</h2>
                <a href="CadastrarVaga.html" class="btn-cadastro">Cadastra-se sua vaga</a>
            </div>
        </main>
        
        <footer>
            <p>Rodapé</p>
        </footer>
    </div>
</body>
</html>